#!/bin/sh

# ----------------------------------------------------------------------
# config.sh
# Build system configuration
# ----------------------------------------------------------------------

# ---------------------------------------------------------------------- 
# Required configurations
# ---------------------------------------------------------------------- 

# The path to the GoogleTest include directory
export GTEST_INCLUDE_PATH=/path/to/gtest/include
# The path to the GoogleTest lib directory
export GTEST_LIBRARY_PATH=/path/to/gtest/lib
